[Unit]
Description=Pull latest ip2geo/ip2asn MMDB and asn.sqlite3 from S3
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=nossl
Group=nossl
EnvironmentFile=-/etc/nossl-pull-agent.env
WorkingDirectory=/opt/nossl.sh
ExecStart=/usr/bin/env python3 /opt/nossl.sh/bin/nossl-pull-agent.py --bucket nossl-sh-dbs --region eu-north-1 --geo-target /opt/nossl.sh/ip2geo-latest.mmdb --asn-target /opt/nossl.sh/ip2asn-latest.mmdb --asn-sqlite-target /opt/nossl.sh/asn.sqlite3
