[Unit]
Description=Periodic pull of latest ip2geo/ip2asn MMDB from S3

[Timer]
OnCalendar=*:0/5
Persistent=true
RandomizedDelaySec=5m
Unit=nossl-pull-agent.service

[Install]
WantedBy=timers.target
